/* You can add global styles to this file, and also import other style files */
$backgroundColor : #f4f4f4;
$mainColor: #00695c;

@font-face {
    font-family: "Keep-calm";
    src: url("/../assets/fonts/KeepCalm.ttf");
   }